#Ignore Node.js directories
node_modules
/Frontend/node_modules
/BackEnd/node_modules

# Ignore environment files that should not be in the image
.env

# Ignore build artifacts that will be created during the build process
dist
/Frontend/dist
/BackEnd/build

# Ignore version control and IDE-specific files
.git
.gitignore
.vscode

# Ignore log files and other temporary files
*.log
npm-debug.log*